.about {
    position: relative;
    width: 100%;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-color: #101820;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    padding-bottom: 50px;
}

.aboutContent {
    max-width: 640px;
    width: 90%;
    z-index: 2;

    margin-left: 159px;
}

.first {
    color: #FF6A00;
    font-family: "StapelB";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
}

.highlight {
    color: #FFF;
    font-family: "StapelB";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
}

.second {
    margin-top: 30px;
    color: #FFF;
    font-family: "Stapel7";
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
}

.third {
    margin-top: 17px;
    color: #FFF;
    font-family: "Stapel7";
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
}

.forth {
    margin-top: 17px;
    color: #FFF;
    font-family: "Stapel7";
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
}

.aboutLetter {
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 640;
    height: 440;
    z-index: 1;
}

.aboutLetterMobile {
    display: none;
    width: 640;
    height: 440;
}

.aboutBig {
    display: none;
    width: 2417px;
    height: 1655px;
}

.brr{
    display:none;
}

.brrr{
    display:none;
}

.aboutLetterTablet {
    display: none;
}




@media (max-width: 1280px) {

    .aboutContent {
        max-width: 540px;
    }

    .aboutLetter {
        width: 635px;
        height: 435px;
        right: -110px;
    }

    .first {

        font-size: 24px;

        line-height: 30px;
    }

    .highlight {

        font-size: 24px;

        line-height: 30px;
    }

    .second {

        font-size: 24px;

        line-height: 30px;
    }

    .third {

        font-size: 24px;

        line-height: 30px;
    }

    .forth {

        font-size: 24px;

        line-height: 30px;
    }
 
}

@media (max-width: 1030px) {
    .b{
        display: none
        ;
    }

    .brrr{
        display:block;
    }
    .about {
        flex-direction: column;
        align-items: center;
        text-align: center;
        
        
    }

    .aboutContent {

        margin-left: 0;
        max-width: 520px;
        padding-top: 0px;
 

    }

    .aboutLetter {
        margin-top: 80px;
        position: static;
        transform: none;
        padding-bottom: 0px;
        width: 550px;
        height: 370px;
    }

    .aboutLetterDesktop {
        display: none;
    }


    .first {

        font-size: 28px;

        line-height: 34px;
    }

    .highlight {

        font-size: 28px;

        line-height: 34px;
    }

    .second {

        font-size: 28px;

        line-height: 34px;
    }

    .third {

        font-size: 28px;

        line-height: 34px;
    }

    .forth {

        font-size: 28px;

        line-height: 34px;
    }

    .aboutLetterTablet {
        display: block;
    }
    
}

@media (max-width: 768px) {

    .aboutContent {

        margin-left: 0;
        max-width: 520px;
        padding-top: 110px;

    }

    .about {
        padding-bottom: 100px;
    }

    .aboutLetterMobile {
        display: none;
    }

    .aboutLetterTablet {
        display: block;
    }
    .aboutLetter{
        width: 452px;
        height: 310px;
    }



}


@media (max-width: 440px) {

   .about {
        height: auto;
        padding-top: 20px;
        padding-bottom: 60px; 
    }

    .aboutContent {
        width: 293px;
        padding-top: 80px;

    }

    .aboutLetter {

        width: 520px;
        height: 300px;
        padding-bottom: 80px;
        margin-top: 60px;
    }

    .first {

        font-size: 18px;

        line-height: 120%;
    }

    .highlight {

        font-size: 17px;

        line-height: 120%;
    }

    .second {

        font-size: 17px;

        line-height: 130%;
    }

    .third {

        font-size: 17px;

        line-height: 130%;
    }

    .forth {

        font-size: 17px;

        line-height: 130%;
    }

    .brr{
        display: block;
    }


}


@media (min-width: 2000px) {

}

@media (min-width: 2000px) {


    .aboutContent {
        max-width: 850px;
        line-height: 80px;

    }

    .first {

        font-size: 38px;
        line-height: 10px;

    }

    .highlight {

        font-size: 37px;
        line-height: 80px;
    }

    .second {

        font-size: 37px;
        line-height: 44px;

    }

    .third {

        font-size: 37px;
        line-height: 44px;

    }

    .forth {

        font-size: 37px;
        line-height: 44px;
    }

    .aboutContent {
        margin-left: 289px;
    }


}


@media (min-width: 3800px) {


    .aboutContent {
        max-width: 1625px;
        margin-left: 403px;

    }

    .first {

        font-size: 71px;
        line-height: 86px;

    }

    .highlight {

        font-size: 71px;
        line-height: 86px;
    }

    .second {
        margin-top: 80px;
        font-size: 71px;
        line-height: 86px;

    }

    .third {
        margin-top: 44px;
        font-size: 71px;
        line-height: 86px;

    }

    .forth {
        margin-top: 44px;
        font-size: 71px;
        line-height: 86px;
    }
    .aboutLetterDesktop{
        display: none;
    }

    .aboutBig {
        display: block;
    }

    .aboutLetter {
        right: -400px;
    }

}