.container {
    position: relative;
    width: 100%;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #D9D9D9;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    padding-bottom: 60px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.50); 
    backdrop-filter: blur(10px); 
    z-index: 11000; 
    display: none; 
}

.overlay.show {
    display: block;
}


.alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 486.316px;
    height: 236.923px;
    background-color: #FF6A00;
    color: white;
    text-align: center;
    padding: 15px;
    z-index: 12999; 
    border-radius: 23.381px;
    display: block;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.alert.show {
    opacity: 1;
}


.zayavka{
    margin-top: 20px;
    color: #FFF;
    font-family: "Stapel5";
    font-size: 52.996px;
    font-style: normal;
    font-weight: 600;
    line-height: 55px;
    margin-bottom: 30px; 

}
.answer{
    color: #FFF;
    text-align: center;
    font-family: "TT Interphases";
    font-size: 20.263px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.logo {
    margin-top: 100px;
    width: 220px;
    margin-bottom: 40px;
}

.formWrapper {
    width: 754px;
    background: white;
    padding: 20px;
    border-radius: 15px;
}

.tit {
    color: #FF6A00;
    text-align: center;
    font-family: "Stapel5";
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
    margin-top: 20px;
}

.form {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.input {
    padding: 0px 17px 0px 17px;
    border: 1px solid #FF6A00;
    border-radius: 8px;
    width: 221px;
    background-color: #fff;
    color: black;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px;
}



.input:focus {
    border-color: #FF6A00; 
    box-shadow: 0 0 5px rgba(255, 102, 0, 0.7); 
    outline: none;
}
.input::placeholder {
    color: #B6B6B6;
    font-family: "TT Interphases";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px;
   
}


.button {
    background: #FF6A00;
    color: white;
    padding: 13px 17px 13px 17px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 221px;
    font-family: "Stapel5";
    font-size: 18px;
    font-weight: 600;
    transition: color 0.3s;
}

.button:hover{
    color: black;
}

.social{
    margin-top: 120px;
    color: #939393;
    font-family: "TT Interphases";
    font-size: 24px;
    font-weight: 500;
    line-height: 38px;
}



.socials {
    display: flex;
    gap: 19px;
    margin-top: 30px;
}

.socials a {
    display: inline-block;
}

.socials img {
    width: 38px;
    height: 39px;
}

.copyright {
    margin-top: 109px;
    color: #939393;
    text-align: center;
    font-family: "TT Interphases";
    font-size: 15px;
    font-weight: 500;
    line-height: 38px;
}

.hr{
    display: none;
}

@media (max-width: 1030px) {
   
    .hr{
        display: block;
    }
    .logo {
        margin-top: 168px;
        width: 170px;
        height: 51px;
        margin-bottom: 74px;
    }


    .formWrapper {
        width: 544px;
        height: 393px;
        border-radius: 15px;
    }

    .tit {
        font-size: 28px;
        line-height: 30px;
    }

    .form {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .input{
        width: 495px;
        padding: 5px 17px 5px 27px;
    }
    .button{
        width: 495px;
    }
    .social{
        margin-top: 143px;
        font-size: 19px;
    }

    .socials {
        margin-top: 15px;
        gap: 16px;
    }

    .socials img {
        width: 32px;
        height: 33px;
    }
    .copyright {
        margin-top: 75px;       
        text-align: center;
        font-size: 11px;
        line-height: 15px;
    }
    .container {
        min-height: 0vh
        
    }

    .alert {
        width: 336px;
        height: 188px;
        border-radius: 16px;
    }
    
    
    .zayavka{
        font-size: 36.615px;
        line-height: 38px;
    
    }
    .answer{
        font-size: 14px;
    }
    

 



}

@media (max-width: 768px) {
   
    .hr{
        display: block;
    }
    .logo {
        margin-top: 168px;
        width: 170px;
        height: 51px;
        margin-bottom: 74px;
    }


    .formWrapper {
        width: 544px;
        height: 393px;
        border-radius: 15px;
    }

    .tit {
        font-size: 28px;
        line-height: 30px;
    }

    .form {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .input{
        width: 495px;
        padding: 5px 17px 5px 27px;
    }
    .button{
        width: 495px;
    }
    .social{
        margin-top: 143px;
        font-size: 19px;
    }

    .socials {
        margin-top: 15px;
        gap: 16px;
    }

    .socials img {
        width: 32px;
        height: 33px;
    }
    .copyright {
        margin-top: 75px;       
        text-align: center;
        font-size: 11px;
        line-height: 15px;
    }

 
    .container{
        padding-bottom: 53px;
    }

}

@media (max-width: 460px) {
    .hr{
        display: block;
    }
   
    .logo {
        margin-top: 129px;
        width: 170px;
        height: 51px;
        margin-bottom: 57px;
    }


    .formWrapper {
        width: 322px;
        height: 450px;
        border-radius: 15px;
    }

    .tit {
        color: #FF6A00;
        font-family: "Stapel5";
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: 110%;
    }

    .form {
        margin-top: 42px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .input{
        width: 293px;
        padding: 5px 17px 5px 17px;
    }
    .button{
        width: 293px;
    }
    .social{
        margin-top: 53px;
        font-size: 19px;
    }

    .socials {
        margin-top: 15px;
        gap: 16px;
    }
    .socials img {
        width: 32px;
        height: 33px;
    }
    .copyright {
        margin-top: 75px;       
        text-align: center;
        font-size: 11px;
        line-height: 15px;
    }

    .container{
        padding-bottom: 40px;
    }

    .alert {
        width: 292px;
        height: 142px;
        border-radius: 14px;
    }
    
    
    .zayavka{
        margin-top: 7px;
        font-size: 31px;
        line-height: 33px;
        margin-bottom: 15px;
    
    }
    .answer{
        font-size: 12px;
        
    }

}

@media (min-width: 441px) {
    .brr{
        display: none;
    }
    

   
}

@media (min-width: 3800px) {
    
      .logo {
        margin-top: 401px;
        width: 560px;
        height: 189px;
        margin-bottom: 252px;
      }

      .formWrapper {

        width: 1914px;
        padding: 70px;
        border-radius: 38px;
    }
       
    .tit{
        font-size: 91px;
        line-height: 96px;
    }

    .form {
        margin-top: 95px;
        gap: 55px;
    }
    
    .input {
        padding: 33px 43px 33px 43px;
        border: 2.54px solid #FF6A00;
        border-radius: 20px;
        width: 561px;
        font-size: 45px;
    }

    .input::placeholder {
        font-size: 45px;
        line-height: 96px;
       
    }

    .button {
        padding: 27px 43px 30px 43px;
        border-radius: 20px;
        width: 561px;
        font-size: 45px;
    }


    .social{
        margin-top: 304px;
        font-size: 60px;
        line-height: 96px;
    }
    
    
    .socials {
        display: flex;
        gap: 48px;
        margin-top: 76px;
    }
    
    .socials img {
        width: 96px;
        height: 99px;
    }
    
    .copyright {
        margin-top: 276px;
        font-size: 38px;
        line-height: 96px;
    }

    .container {
        padding-bottom: 152px;
    }
    .alert {
        width: 1233px;
        height: 601px;
        border-radius: 59px;
    }
    
    
    .zayavka{
        margin-top: 85px;
        font-size: 134px;
        line-height: 139px;
        margin-bottom: 63px;
    
    }
    .answer{
        font-size: 51px;
        
    }
    
       
       }


       @media (min-width: 5067px) { 
    
        .logo {
            margin-top: 535px; 
            width: 747px; 
            height: 252px;
            margin-bottom: 336px; 
        }
    
        .formWrapper {
            width: 2552px; 
            padding: 93px; 
            border-radius: 51px; 
        }
           
        .tit {
            font-size: 121px; 
            line-height: 128px; 
        }
    
        .form {
            margin-top: 127px;
            gap: 73px;
        }
        
        .input {
            padding: 44px 57px 44px 57px; 
            border: 3.38px solid #FF6A00;
            border-radius: 27px; 
            width: 748px; 
            font-size: 60px; 
        }
    
        .input::placeholder {
            font-size: 60px; 
            line-height: 128px; 
        }
    
        .button {
            padding: 36px 57px 40px 57px; 
            border-radius: 27px; 
            width: 748px; 
            font-size: 60px; 
        }
    
        .social {
            margin-top: 405px; 
            font-size: 80px;
            line-height: 128px; 
        }
        
        .socials {
            gap: 64px; 
            margin-top: 101px; 
        }
        
        .socials img {
            width: 128px;
            height: 132px; 
        }
        
        .copyright {
            margin-top: 368px; 
            font-size: 51px; 
            line-height: 128px; 
        }
    
        .container {
            padding-bottom: 203px; 
        }
    }